<header>
  <div class="container">
    <nav>
      {% capture linkhome %}{{ site.baseurl }}/{% endcapture %}
      {% if page.permalink == '/' %}{% assign linkhome = '#' %}{% endif %}
      <a href="{{ linkhome }}" class="logo"><img src="{{ '/img/logo.png' | prepend: site.baseurl }}" alt="{{ site.title }} logo" height="36px">{{ site.title }}</a>
      <menu>
        <ul>  <!-- site menu links -->
          {%- for link in site.navigation -%}
          {% assign url = link.url %}
          {% if page.url contains link.url %}
          {% assign url = '#' %}
          {% endif %}
          <li><a href="{{ url | prepend: site.baseurl }}">{{ link.title }}</a></li>
          {%- endfor -%}
        </ul>
      </menu>
    </nav>
  </div>
</header>
