<!-- meta tags -->
<meta property="og:type" content="{{ site.seo.og.type | default: "website" }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
<meta property="og:title" content="{{ page.title | default: site.title }}">
<meta property="og:description" content="{{ site.description }}">
{%- if site.seo.og.image -%}
<meta property="og:image" content="{{ site.baseurl }}/assets/img/{{ site.seo.og.image }}">
<meta name="twitter:image" content="{{ site.baseurl }}/assets/img/{{ site.seo.og.image }}">
{%- endif -%}
<meta name="twitter:card" content="{{ site.seo.twitter.card | default: "summary" }}">
{%- if site.seo.twitter.username -%}
<meta name="twitter:creator" content="@{{ site.seo.twitter.username | remove:'@' }}">
{%- endif -%}
<meta name="twitter:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
<meta name="twitter:title" content="{{ page.title | default: site.title }}">
<meta name="twitter:description" content="{{ site.description }}">
<!-- favicons  (https://favicon.io/)  -->
<!-- <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/img/favicons/apple-touch-icon.png?v=2.0">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/img/favicons/favicon-32x32.png?v=2.0">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/img/favicons/favicon-16x16.png?v=2.0">
<link rel="manifest" href="{{ site.baseurl }}/assets/img/favicons/site.webmanifest?v=2.0">
<link rel="mask-icon" href="{{ site.baseurl }}/assets/img/favicons/safari-pinned-tab.svg?v=2.0" color="{{ site.theme-color }}">
<link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicons/favicon.ico?v=2.0"> -->
<meta name="apple-mobile-web-app-title" content="{{ site.title }}">
<meta name="application-name" content="{{ site.title }}">
<meta name="msapplication-TileColor" content="{{ site.theme-color }}">
<meta name="msapplication-config" content="{{ site.baseurl }}/assets/img/favicons/browserconfig.xml?v=2.0">
<meta name="theme-color" content="#ffffff">
<link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}"/>
{%- if site.google-tracking-id -%}
<!-- google analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google-tracking-id }}"></script>
<script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', '{{ site.google-tracking-id }}');</script>
{%- endif -%}
