<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" dir="{{ page.direction | default: site.direction | default: "ltr" }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title | default: site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="author" content="{{ site.author }}">
  <link rel="author" href="{{ site.baseurl }}/humans.txt">
  <!-- Stylesheets -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fontawesome-5.13.0-all.min.css" media="print" onload="this.media='all'">
  <noscript><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fontawesome-5.13.0-all.min.css"></noscript>
  {%- for css_link in page.css_link -%}
  <link rel="stylesheet" href="{{ css_link }}">
  {%- endfor -%}
  {%- if site.environment == 'production' -%}
  {%- include seo.html -%}
  {%- endif -%}
</head>
<body {% if page.bodyId %}id="{{ page.bodyId }}"{% endif %}>
  <!--[if IE]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p><![endif]-->
  {% include header.html %}
  {{ content }}
  {% include footer.html %}
  {% include scripts.html %}
</body>
</html>
